@page "/userlist"


@inherits UserListProcess

@if (UserList != null)
{
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Full Name</th>
                <th scope="col">E-Mail</th>
                <th scope="col">Created Date</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (UserDTO user in UserList)
            {
                string spanClass = "btn btn-" + (user.IsActive ? "success" : "danger");
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FullName</td>
                    <td>@user.EmailAddress</td>
                    <td>@user.CreatedDate.ToLocalTime()</td>
                    <td><button class="btn btn-@(user.IsActive ? "success" : "danger")" disabled>@(user.IsActive ? "Active" : "Passive")</button></td>
                    @*<td>@user.IsActive</td>*@

                </tr>
            }
        </tbody>
    </table>
}
