@page "/buttontest"
@page "/buttons"






<h3>@title</h3>

<div class="form-group">
    <div class="btn-toolbar">
        <CustomEditButtonComponent Caption="ShowMessage" Icon="fa fa-pencil" OnClick="@changeTitle" />

        <CustomEditButtonComponent Caption="Edit Caption" Color="danger" Icon="pencil" IsSmall="true" OnClick="@showConfirmation"/>



        <AddNewButtonComponent />

    </div>
    <div class="mt-3"> Sayı : @i </div>
    <AddNewButtonComponent Caption="Add Number +1 " OnClick="@addNumber" />
    <AddNewButtonComponent Caption="Number Reset" OnClick="@resetNumber" Icon="rotate-right" Color="warning" />




</div>

@code {
    [CascadingParameter]
    IModalService Modal { get; set; }

    [Inject]
    ModalManager ModalManager { get; set; }
    private String title = "";

    private async void changeTitle()
    {
        await ModalManager.ShowMessageAsync("Show Message Title", "Record Deleted", 3000);
        //ModalParameters mParams = new();
        //mParams.Add("Message", "Bu bir test popup denemesidir.");
        //Modal.Show<ShowMessagePopupComponent>("Counter Popup Page",mParams);
    }
    async Task showConfirmation()
    {
        var result = await ModalManager.ShowConfirmationAsync("Confirmation", "Are you sure that it will be deleted?");
        if (result) title = "Yes just clicked"; else title = "No just clicked";

    }


    private int i = 0;
    private async Task addNumber()
    {
        i++;
    }
    private async Task resetNumber()
    {
        i = 0;
    }




}
